<%= form_for(@alien_category) do |f| %>
  <% if @alien_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alien_category.errors.count, "error") %> prohibited this alien_category from being saved:</h2>

      <ul>
      <% @alien_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
