<h1>Welcome</h1>

<div class="row">
	<div class="col-md-6">
		<select id="galaxy" name="galaxy" class="form-control">
			<option value="">Select Galaxy</option>
			<%Galaxy.all.each do |galaxy|%>
			<option value="<%=galaxy.name%>"><%=galaxy.name%></option>
			<%end%>
		</select>

		<select id="planet" name="planet"  class="form-control">
			<option value="">Select Planet</option>
			<%Planet.all.each do |planet|%>
			<option value="<%=planet.name%>" class="<%=planet.galaxy.name%>"><%=planet.name%></option>
			<%end%>
		</select>

		<select id="alien" name="alien"  class="form-control">
			<option value="">Select Alien</option>
			<%Alien.all.each do |alien|%>
			<option value="<%=alien.name%>" class="<%=alien.planet.name%>"><%=alien.name%> (<%=alien.alien_category.name%>)</option>
			<%end%>
		</select>
	</div>

	<div class="col-md-6">
		<select id="product_family" name="product_family"  class="form-control">
			<option value="">Select Product Family</option>
			<%ProductFamily.all.each do |product_family|%>
			<option value="<%=product_family.name%>"><%=product_family.name%></option>
			<%end%>
		</select>
		
		<select id="product" name="product"  class="form-control">
			<option value="">Select product</option>
			<%Product.all.each do |product|%>
			<option value="<%=product.name%>" class="<%=product.product_family.name%>"><%=product.name%> (<%=product.product_family.name%>)</option>
			<%end%>
		</select>
	</div>
</div>


