<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to image_tag("vc_logo_lrg.png", :size => "30x30") + ' Vodachart', root_url, :class=>"navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%=link_to "Home", root_url%></li>
        <% if can? :manage, Role %> 
        <li class="active"><%=link_to "Users", users_url%></li>
        <li class="active"><%=link_to "Roles", roles_url%></li>
        <%end%>
      </ul>

      <%if signed_in?%>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "#{current_user.name} | #{current_user.role}", root_url , :class=>"navbar-link"%></li>
        <li><%=link_to "Sign out", signout_path%> </li>
      </ul>
      <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Sign up", signup_path%></li>
        <li><%=link_to "Sign in", signin_path%></li>
      </ul>
      <%end%>

    </div><!--/.nav-collapse -->
  </div>
</div>
