<!DOCTYPE html>
<html>
<head>
  <title>Vodachart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/navigation_bar" %>
  <div id="notification">
    <%= render :partial => 'shared/flash_messages' %>
  </div>
  <div class="container">
    <%= yield %>
  </div>


  <script>
   $('.datatable').dataTable({
    "sPaginationType": "bootstrap"
  });
 </script>
</body>
</html>
