<%= form_for(@alien) do |f| %>
  <% if @alien.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alien.errors.count, "error") %> prohibited this alien from being saved:</h2>

      <ul>
      <% @alien.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :alien_category_id %><br>
    <%= f.number_field :alien_category_id %>
  </div>
  <div class="form-group">
    <%= f.label :planet_id %><br>
    <%= f.number_field :planet_id %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-large btn-primary"%>
  </div>
<% end %>
